@use "../base/reset";
@use "../utils/mixins" as mix;
@use "../utils/varibles" as var;
@use "../layout/flex" as flx;
@use "../components/buttons" as comb;
header {
  padding: 20px 0;
  nav {
    @include flx.flex(space-between, center, 10);
    .nav_menu {
      width: 100%;
      @media (max-width: 960px) {
        display: none;
      }
      @include flx.flex(space-between, center, 10);
      .nav_katalog {
        button {
          @include comb.btn(10px 15px 10px 15px, 5px, 0);
          border: none;
          background-color: rgb(206, 204, 255);
          color: var.$light-purple;
          .nav_katalog_text {
            @include flx.flex(0, center, 15);
            .nav_katalog_icon {
              @include flx.flex(0, center, 2);
              flex-direction: column;
              .nav_katalog_icon_line {
                @include mix.width2(14, 1.5);
                background-color: var.$light-purple;
              }
              .nav_katalog_icon_line_small {
                @include mix.width2(16, 1.5);
                background-color: var.$light-purple;
              }
              .nav_katalog_icon_quadrilateral {
                @include mix.width2(20, 15);
                border: 2px solid var.$light-purple;
                border-radius: 3px;
              }
            }
          }
        }
      }
      .nav_menu_search {
        @include flx.flex(0, center, 0);
        @include comb.btn(0, 5px, 1px solid var.$light-gray);
        width: 100%;
        transition: 0.5s;
        img {
          @include comb.btn(
            7px 25px 7px 25px,
            0 5px 5px 0,
            1px solid var.$light-gray
          );
          background-color: var.$light-gray;
        }
        input {
          @include comb.btn(0 0 0 20px, 5px 0 0 5px, 1px solid var.$cool-gray);
          font-size: 17px;
          width: 100%;
          height: 45px;
          outline: none;
          transition: 0.5s;
        }
      }
      .nav_entry {
        @include comb.btn(10px, 6px, 0);
        @include flx.flex(0, center, 10);
        transition: 0.5;
        @media (max-width: 1350px) {
          span {
            display: none;
          }
        }
      }
      .nav_entry:hover {
        background-color: var.$cool-gray;
      }

      .nav_selected {
        @include flx.flex(0, center, 10);
        border-radius: 6px;
        padding: 10px;
        transition: 0.5;
        @media (max-width: 1350px) {
          span {
            display: none;
          }
        }
      }
      .nav_selected:hover {
        background-color: var.$cool-gray;
      }
      .nav_cart {
        @include flx.flex(0, center, 10);
        border-radius: 6px;
        padding: 10px;
        transition: 0.5;
        @media (max-width: 1350px) {
          span {
            display: none;
          }
        }
      }
      .nav_cart:hover {
        background-color: var.$cool-gray;
      }
    }
    .nav_menu_2 {
      width: 100%;
      @media (min-width: 960px) {
        display: none;
      }
      .nav_menu_2_input {
        @include flx.flex(0, center, 0);
        background-color: var.$cool-gray;
        padding: 2px;
        border: 1px solid var.$cool-gray;
        border-radius: 10px;
        width: 100%;
        img {
          padding: 0 10px 0 10px;
        }
        input {
          font-size: 16px;
          background-color: var.$cool-gray;
          width: 100%;
          height: 30px;
          outline: none;
          border: none;
        }
      }
    }
    .media_nav_menu {
      position: fixed;
      z-index: 999;
      bottom: 0;
      left: 0;
      right: 0;
      @include flx.flex(space-between, 0, 0);
      border-top: 1px solid rgb(157, 159, 168);
      padding: 10px 20px;
      @media (min-width: 960px) {
        display: none;
      }
      .home_page {
        @include flx.flex(0, center, 0);
        flex-direction: column;
        color: rgb(157, 159, 168);
        @media (max-width: 427px) {
          font-size: 10px;
        }
        a {
          svg {
            fill: #8b8e99;
          }
        }
      }
      .home_page:hover span {
        color: rgb(127, 77, 255);
      }
      .home_page:hover svg {
        fill: rgb(127, 77, 255);
      }
      .katalog_page {
        @include flx.flex(0, center, 0);
        flex-direction: column;
        color: rgb(157, 159, 168);
        @media (max-width: 427px) {
          font-size: 10px;
        }
        a {
          svg {
            fill: #8b8e99;
          }
        }
      }
      .katalog_page:hover span {
        color: rgb(127, 77, 255);
      }
      .katalog_page:hover svg {
        fill: rgb(127, 77, 255);
      }
      .cart_page {
        @include flx.flex(0, center, 0);
        flex-direction: column;
        color: rgb(157, 159, 168);
        @media (max-width: 427px) {
          font-size: 10px;
        }
        a {
          svg {
            fill: #8b8e99;
          }
        }
      }
      .cart_page:hover span {
        color: rgb(127, 77, 255);
      }
      .cart_page:hover svg {
        fill: rgb(127, 77, 255);
      }
      .heart_page {
        @include flx.flex(0, center, 0);
        flex-direction: column;
        color: rgb(157, 159, 168);
        @media (max-width: 427px) {
          font-size: 10px;
        }
        a {
          svg {
            fill: #8b8e99;
          }
        }
      }
      .heart_page:hover span {
        color: rgb(127, 77, 255);
      }
      .heart_page:hover svg {
        fill: rgb(127, 77, 255);
      }
      .people_page {
        @include flx.flex(0, center, 0);
        flex-direction: column;
        color: rgb(157, 159, 168);
        @media (max-width: 427px) {
          font-size: 10px;
        }
        a {
          svg {
            fill: #8b8e99;
          }
        }
      }
      .people_page:hover span {
        color: rgb(127, 77, 255);
      }
      .people_page:hover svg {
        fill: rgb(127, 77, 255);
      }
    }
  }
}
